/* .post-review-btn {
  background-color: #FF5A5F;
} */
.post-delete-review-btn:hover{
  background-color:  #FF5A5F;
}
.post-delete-review-btn {
background-color: grey;
border: black solid 1px;
box-shadow: 1px 1px 1px black;
margin-bottom: 20px;
height: 30px;
color: white;
cursor: pointer;
}

.custom-delete-button {
  min-width: 90px;
  height: 36px;
  padding: 6px 16px;
  color: white;
  background-image: linear-gradient(to left, #e61e4d 0%, #e31c5f 50%, #d70466 100%);
  border: none;
  cursor: pointer;
}
.custom-delete-button:hover {
  opacity: 0.9;
  background-image: linear-gradient(to right, #e61e4d 0%, #e31c5f 50%, #d70466 100%);
}
