.navBar-container {
  display: flex;
  background-color: #fff;
  width: 1008px;
  height: 101px;
  margin-top: -28px;
  padding: 12px 0px;
}

.navBar-inner-container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 1008px;
  padding: 0px 20px;
}

.logo-and-text {
  display: flex;
  align-items: center;
}

.navBar-logo-create-link {
  display: flex;
  align-items: center;
  text-align: left;
}

.navbar-logo {
  display: flex;
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-weight: bold;
  align-items: center;
}

.logo {
  height: 40px;
  /* align-items: center; */
}
.navbar-logo img {
  display: flex;
  justify-content: flex-start;
  position: relative;
  align-items: center;
}

.logo-text {
  font-size: 30px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-left: 10px;
  background: linear-gradient(to right, #e61e4d 0%, #e31c5f 50%, #d70466 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline;
  font-weight: 1000;
}


.create-new-spot {
  text-decoration: none;
  color: #008489;
  font-size: 18px;
  font-weight: bold;
  margin-left: 30px;
  align-items: center;
}

.create-new-spot:hover {
  color: #005e63;
}

.navBar-far-right {
  text-align: right;
  list-style-type: none;
  display: inline-block;
}

.line {
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  background-color: #f3eded;
  border: none;
  height: 1px;
  margin: 0px;
  margin: -31px;
  width: 1350px;
}

/* @media (min-width: 1024px) {
  .navBar-container {

      width: 80%;
      margin: 0 auto;
  }
}

@media (min-width: 950px) and (max-width: 1023px) {
  .navBar-container {

      width: 90%;
      margin: 0 auto;
  }
}

@media (min-width: 550px) and (max-width: 949px) {
  .navBar-container {

      width: 95%;
      margin: 0 auto;
  }
}

@media (min-width: 200px) and (max-width: 549px) {
  .navBar-container {
      width: 100%;

  }
}

@media (max-width: 199px) {
  .navBar-container {
      width: 100%;

  }
} */
